<div class="section" id="education" style="background-image: url('assets/images/z32.jpg');">
  <div class="container cc-education" >
    <div class="h4 text-center mb-4 title">Education</div>


    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2016 - 2018</p>
            <div class="h5">Master's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Master of Computer Application</div>
            <h4 class="category">Integral University , UTTAR PRADESH
            </h4>
            <ul>
              <li><b>Master of Computer Applications (MCA)</b> | Integral University, Lucknow | <b>2018</b></li>
              <li>Graduated with <b>83.50%</b>, consistently ranked among top performers throughout the program.</li>
              <li>Specialized in application development, software architecture, and advanced programming concepts.</li>
              <li>Developed full-stack web and desktop applications as part of academic projects.</li>
              <li>Led group projects, demonstrating leadership and effective collaboration in team-based development
                tasks.</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2015 - 2016</p>
            <div class="h5">Master's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Master of Science (Computer Science)</div>
            <h4 class="category">Integral University , UTTAR PRADESH
            </h4>
            <ul>
              <li><b>Master of Science (Computer Science)</b> | Integral University, Lucknow | <b>2016</b></li>
              <li>Achieved <b>83.43%</b> with a strong foundation in theoretical computer science and research
                methodology.</li>
              <li>Focused on subjects like data structures, algorithms, and computer systems analysis.</li>
              <li>Engaged in academic research and published a technical paper as part of final semester work.</li>
              <li>Recognized for analytical thinking and consistent academic performance during the program.</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2014 - 2015</p>
            <div class="h5">Diploma's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Post Graguate Diploma Computer Application</div>
            <h4 class="category">Shobhit University , UTTAR PRADESH
            </h4>
            <ul>
              <li><b>Post-Graduate Diploma in Computer Applications</b> | Shobhit University, Meerut | <b>2015</b></li>
              <li>Recognized for academic consistency and strong conceptual clarity in programming and database systems.
              </li>
              <li>Completed the diploma with an emphasis on software development, computer networks, and operating
                systems.</li>
              <li>Actively participated in lab sessions and hands-on technical training to build real-world IT skills.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2011 - 2014</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Arts</div>
            <h4 class="category">Mahatma Ghandhi Kashi Vidyapith , UTTAR PRADESH
            </h4>
            <ul>
              <li>Graduated with a Bachelor of Arts degree, with a strong foundation in analytical thinking and creative
                expression.</li>
              <li>Maintained consistent academic performance throughout the course with a focus on subjects like
                History, Hindi, Sociology.</li>
              <li>Developed strong written and verbal communication skills through various assignments, presentations,
                and seminars.</li>
              <li>Actively participated in cultural and academic events, enhancing teamwork and leadership qualities.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2010 - 2011</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Higher Secondary</div>
            <h4 class="category">NETAJI RAJANARAYAN INTER COLLAGE , UTTAR PRADESH
            </h4>
            <ul>
              <li>
                The High School was mainly focus on the bases of science, mathematics, and Chemistry
              </li>
              <li>
                There was also a good base on physics, mathematics and chemistry.
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2012 - 2013</p>
            <div class="h5">Sedcondary School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Secondary School</div>
            <h4 class="category">NETAJI RAJANARAYAN INTER COLLAGE , UTTAR PRADESH
            </h4>
            <ul>
              <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>