/* Main timeline container */




/* Timeline content */
.timeline-content {
  padding: 1.5rem 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: all 0.3s ease; /* Smooth transition */
}

/* Hover effect for timeline content */
.timeline-content:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
  transform: translateY(-5px); /* Lift on hover */
}

/* Styling for the timeline item header */
.timeline-content h5 {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/* Timeline item date and location */
.timeline-content p {
  font-size: 1rem;
  color: #6c757d;
}

/* List items in the work experience */
.timeline-content ul {
  padding-left: 20px;
  margin-top: 1rem;
}

.timeline-content ul li {
  font-size: 1rem;
  line-height: 1.5;
}



/* Mobile responsiveness */
@media (max-width: 767px) {
  .timeline-item {
    margin-bottom: 2rem;
  }

}
