<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="card-body">
        <div class="h4 mt-0 title">About</div>
        <ul class="ps-3 mt-3">
          <li class="mb-1">
            Dynamic and results-driven <strong> Full Stack Software Developer</strong> with over <strong>5+ years of experience</strong> delivering <strong>scalable, high-performance, and secure enterprise applications</strong>. Currently working at <strong>ICICI Lombard</strong>, a leading name in the insurance domain, where I was honored with a <strong>First Rating Award in 2024–2025</strong> for exceptional performance and technical contribution.
          </li>
          <li class="mb-1">
            Possessing deep expertise in <strong>.NET Core, Angular , and ASP.NET MVC</strong>, I specialize in full-cycle application development — from engineering obust business logic layers and service architectures using <strong>.NET Core and  Database</strong>, to designing responsive, intuitive front-end interfaces with <strong> Angular, TypeScript, JavaScript, HTML, CSS, Bootstrap, and Kendo UI.</strong>
          </li>
          <li class="mb-1">
            Experienced in working with diverse relational database systems including <strong>SQL Server , Oracle SQL, PostgreSQL, and MySQL</strong>, with a solid understanding of data modeling, performance optimization, and complex query handling.
          </li>
          <li class="mb-1">
            Well-versed in modern development tools and practices, including <strong>Visual Studio, VS Code, Git, SVN</strong>, and cloud platforms like <strong>AWS (EC2, ECS, CodePipeline)</strong>. Familiar with <strong>CI/CD implementation </strong>practices and automation workflows, primarily focused on efficient and reliable deployments in <strong>Agile development environments</strong>.
          </li>
          <li class="mb-1">
            Recognized for a <strong>proactive mindset</strong>, <strong>structured problem-solving approach</strong>, and commitment to <strong>continuous improvement</strong>. I consistently deliver <strong>quality code</strong>, align technical solutions with business goals, and maintain a strong focus on <strong>collaboration and time management</strong>.
          </li>
        </ul>
        <p class="mt-3">{{ about1 }}</p>
      </div>
    </div>
  </div>
</div>

